<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeleteView</title>
    <style>
        input{
        left:80%;
        width:70px;
        }

        .container{
        position:absolute;
        top:100px;
        left:30%;
        }
    </style>
</head>
<body>
{% extends 'base.html' %}

{% block body %}
<div class="container">
<form method="post">
    {% csrf_token %}
  <h2>Are you sure you want to delete?</h2><br>
  <input type="submit" value="YES" class="btn btn-warning">
</form>
    </div>
{% endblock %}
</body>
</html>